@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), local('Cuprum-Regular'), url(https://github.com/justingao/justingao.github.com/blob/master/media/static/fonts/cuprum/v5/sp1_LTSOMWWV0K5VTuZzvQ.woff) format('woff');
}
