@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    src: local('Electrolize'), local('Electrolize-Regular'), url(https://github.com/justingao/justingao.github.com/blob/master/media/static/fonts/electrolize/v3/DDy9sgU2U7S4xAwH5thnJ4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
