@font-face {
    font-family: 'Galdeano';
    font-style: normal;
    font-weight: 400;
    src: local('Galdeano Regular'), local('Galdeano-Regular'), url(https://github.com/justingao/justingao.github.com/blob/master/media/static/fonts/galdeano/v4/XWkZhyfrNgo9X-giTt_ZffesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
